<%= f.input :text %>

<h3><%= t("forem.post.images") %></h3>
<div id='images'>
  <%= f.simple_fields_for :images do |image| %>
    <%= render 'image_fields', :f => image %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association t("forem.post.add_image"), f, :images %>
  </div>
</div>

<% if params[:reply_to_id] %>
  <%= f.hidden_field :reply_to_id, :value => params[:reply_to_id] %>
<% end %>
